button {
     text-decoration: none;
     border: none;
     width: 120px;
     height: 40px;
     border-radius: 100px;
     display:block;
     margin:auto;
     cursor: pointer;
     &.setup__start {
          background-color: $main-color;
          border-color: $main-color-darker;
     }
}