$main-color-lighter: #a1b4aa;
$main-color-darker: #00573c;
$second-color: #f05d27;
$third-color: #ccb919;

$left-width: 20vw;
$right-width: 50vw;

$breakpoints: (
     mobile: 599px,
     large: 1499px
);