.infos {
     text-align: center;
     margin-top: 30px;
     width: $left-width;
     @include mobile-only {
          width: 80vw;
     }
     &__time {
          margin-top: 20px;
     }
     &__progress-bar {
          border-radius: 10px;
          height: 32px;
          &.ui-progressbar .ui-progressbar-value, > div {
               margin:-1px 0 0 -1px;
               height: 32px;
               background-color: $second-color;
          }
     }
}