body {
     font-family: 'Roboto', sans-serif;
}

h1 {
     margin:0;
     font-family: 'Indie Flower', cursive;
     color: white;
}

button {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 1rem;
     color: white;
}

.infos__time {
     color: $main-color-darker;
}