body {
     font-family: 'Roboto', sans-serif;
}

h1 {
     margin:0;
     font-family: 'Pacifico', cursive;
}

button {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 1rem;
     &.setup__start {
          color: white;
     }
}